@model DapperUniversity.Models.CourseEditViewModel
@{
    ViewBag.Title = "Course";
}

<h2>Edit</h2>

<h4>Course</h4>
<hr />

<div class="columns">
  <div class="column col-md-12 col-6">
    <form asp-action="Edit">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input asp-for="Course.Id" value="@Model.Course.Id" hidden>
      <div class="form-group">
        <label asp-for="Course.Id" class="form-label"></label>
        @Html.DisplayFor(s => s.Course.Id, new {@class = "form-control-static"})
        <span asp-validation-for="Course.Id" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Course.Title" class="form-label"></label>
        <input asp-for="Course.Title" class="form-input" />
        <span asp-validation-for="Course.Title" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Course.Credits" class="form-label"></label>
        <input asp-for="Course.Credits" class="form-input" />
        <span asp-validation-for="Course.Credits" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Course.DepartmentId" class="form-label"></label>
        <select asp-for="Course.DepartmentId" class ="form-select"
          asp-items="Model.Department">
          <option value="">-- Select Department --</option>
        </select>
        <span asp-validation-for="Course.DepartmentId" class="text-danger" />
       </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
      </div>
    </form>
  </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-link">Back to List</a>
</div>
