@model DapperUniversity.Models.Student
@{
    ViewBag.Title = "Student";
}

<h2>Edit</h2>

<h4>Student</h4>
<hr />

<div class="columns">
  <div class="column col-md-12 col-6">
    <form asp-action="Edit">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input asp-for="Id" value="@Model.Id" hidden>
      <div class="form-group">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-input" />
        <span asp-validation-for="LastName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-input" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="EnrollmentDate" class="form-label"></label>
        <input asp-for="EnrollmentDate" class="form-input" type="date"/>
        <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
      </div>
    </form>
  </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-link">Back to List</a>
</div>
