<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - DapperUniversity</title>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
    .site-content {
      flex: 1;
    }
  </style>
</head>

<body>

  <header class="navbar">
    <div class="container">
      <section class="navbar-section">
        <a asp-controller="Home" asp-action="Index" class="btn-btn-link">Home</a>
        <a asp-controller="Students" asp-action="Index"
          class="btn btn-link">Students</a>
        <a asp-controller="Courses" asp-action="Index"
          class="btn btn-link">Courses</a>
        <a asp-controller="Departments" asp-action="Index"
          class="btn btn-link">Departments</a>
        <a asp-controller="Instructors" asp-action="Index"
          class="btn btn-link">Instructors</a>
        @await Html.PartialAsync("_LoginPartial")
      </section>
    </div>
  </header>

  <div class="container site-content" style="margin-top:40px;">
    <div class="column col-12 col-md-12 centered">
      @RenderBody()
      <hr />
    </div>
  </div>

  <footer>
    <p>&copy; 2018 - DapperUniversity</p>
  </footer>

  @RenderSection("Scripts", required: false)
</body>
</html>
