@{
    ViewData["Title"] = "Home Page";
}
<section class="hero is-light is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      Dapper University
      </h1>
    </div>
  </div>
</section>

<body>
  <section class="section">
    <div class="container">

      <div class="columns">
        <div class="column col-md-12 col-4">
          <h2>Welcome to Dapper University</h2>
          <p> Dapper University is a sample application, based on Contoso
            University, that demonstrates how to use Dapper Core in an ASP.NET
            Core MVC web application. </p>
        </div>
        <div class="column col-md-12 col-4">
          <h2>Build it from scratch</h2>
          <p>You can build the original Contoso University application by following the steps in a series of tutorials.</p>
          <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
        </div>
        <div class="column col-md-12 col-4">
          <h2>Download it</h2>
          <p>You can download the completed Contoso University project from GitHub.</p>
          <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
        </div>
      </div>

    </div>
  </section>
</body>
