<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - DapperUniversity</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/material.css.min" rel="stylesheet">
</head>
<body>
  @await Html.PartialAsync("_NavbarPartial")

  <div class="container site-content" style="padding-top:40px;
    padding-bottom:20px">
    <div class="column col-12 col-md-12 centered">
      @RenderBody()
    </div>
  </div>

  @await Html.PartialAsync("_FooterPartial")

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  @RenderSection("Scripts", required: false)
  </body>
</html>
