@model DapperUniversity.Models.Instructor
@{
    ViewBag.Title = "Instructor";
}

<h2>Create</h2>

<h4>Instructor</h4>
<hr />

<div class="columns">
  <div class="column col-md-12 col-6">
    <form asp-action="Create">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>

      <div class="form-group">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-input" />
        <span asp-validation-for="LastName" class="text-danger"></span>
      </div>

      <div class="form-group">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-input" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
      </div>

      <div class="form-group">
        <label asp-for="HireDate" class="form-label"></label>
        <input asp-for="HireDate" class="form-input" type="date"/>
        <span asp-validation-for="HireDate" class="text-danger"></span>
      </div>

      <div class="form-group">
        <label asp-for="OfficeAssignment.Location" class="form-label"></label>
        <input asp-for="OfficeAssignment.Location" class="form-input" />
        <span asp-validation-for="OfficeAssignment.Location" class="text-danger" />
      </div>

    <div class="form-group">
        <table>
          <tr>
            @{ 
              int cnt = 0;
              List<DapperUniversity.Models.AssignedCourseData> courses = ViewBag.Courses;
              foreach (var course in courses)
              {
                  if (cnt++ % 3 == 0)
                  {
                    @:</tr><tr>
                  }
                  @:<td>
                  <input type="checkbox"
                    name="selectedCourses"
                    value="@course.CourseId" @(Html.Raw(course.Assigned ? "checked=\"checked\"" : "")) />
                    @course.CourseId @: @course.Title
                  @:</td>
            }
              @:</tr>
            }
        </table>
    </div>
    <div class="form-group">
      <input type="submit" value="Create" class="btn btn-default" />
    </div>
  </div>
</form>

<div>
  <a asp-action="Index" class="btn btn-link">Back to List</a>
</div>
